@model TestNetCoreWebApp.ViewModels.Home.HomeIndexViewModel

<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div>
		<h1>
			@Model.currentMessage
		</h1>
	</div>
	<table>
		@foreach (var rest in Model.restaurants)
		{
			<tr>
				<td>
					@rest.id
				</td>
				<td>
					@rest.name
				</td>
				<td>
					@Html.ActionLink("Details", "Details", new { id=rest.id })
					&nbsp;
					<a asp-action="Details" asp-route-id="@rest.id">More</a>
			</tr>
		}

	</table>
<a asp-action="Create" asp-controller="Home">Add</a>
</body>
</html>