@model TestNetCoreWebApp.ViewModels.Home.HomeIndexViewModel

@{
	ViewBag.Title = "Home Page";
}

		<h1>
			All Restaurants
		</h1>

		@foreach (var rest in Model.restaurants)
		{
			<partial name="_Summary.cshtml" for="@rest" />
	}
	
	<!-- <table>
		@foreach (var rest in Model.restaurants)
		{
			<tr>
				<td>
					@rest.id
				</td>
				<td>
					@rest.name
				</td>
				<td>
					@* @Html.ActionLink("Details", "Details", new { id=rest.id })
					&nbsp; *@
					<a asp-action="Details" asp-route-id="@rest.id">More</a>
					<a asp-page="/Restaurants/Edit" asp-route-id="@rest.id">Edit</a>
			</tr>
		}

	</table> -->
	<div><a asp-action="Create" asp-controller="Home">Add Restaurant</a></div>

<!-- <div>
@section footer {
	@Model.currentMessage
}
</div> -->